@charset "utf-8";

.banner_wrap{ width:100%; height:440px; position:relative;}
.banner_content{ width:980px; position:absolute; left:50%; margin-left:-490px; top:0px; z-index:2;}
.banner_content .qr_code{ position:absolute; height:80px; width:80px; top:10px; right:0px;}
.banner_content .qr_code .qr_img{ display:block; height:80px; width:80px;}

.banner_bg{ width:100%; height:440px; background:#000;}
.banner_bg .img{ display:block; height:440px; width:100%; position:absolute; top:0px; z-index:1; display:none;}
.banner_bg .current{ z-index:2;}
.control{position: absolute;bottom:9px;width: 100%;height: 16px;z-index: 3;}
.control ul{width: 100px;height: 10px;padding:3px;background: url("../images/control_bg.png") no-repeat;margin:0 auto;}
.control ul li{float: left;margin:0 2px;}
.control ul li a{display: block;width: 10px;height: 10px;background: #FFF;border-radius: 50%;}
.control ul li a.current{background: #66CC33;}
.guide_menu_wrap{ height:75px;background-color: #FFF;border-bottom: 1px solid #D9D9D9;box-shadow: 0 2px 2px #DCDCDC;/*background:rgba(0,0,0,0.65); background:url(../images/bg_black_24.png) repeat 0 0\9; _filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99000000', endColorstr='#99000000');width:100%; position:absolute; left:0px; bottom:0px; z-index:2;*/}
.guide_menu_list{ width:980px; margin:0px auto;overflow: hidden;}
.guide_menu_list>li{ float:left; padding-top: 17px;}
.guide_menu_list li a.guide_menu_item{ display:inline-block; width:215px; height:46px; line-height:46px; color:#333; font-size:16px; font-family:'microsoft yahei';font-weight: 700; /*text-align:center; border-right:1px solid rgba(255,255,255,0.35); border-right:1px solid #555\9; */-moz-transition:color 0.1s linear; -webkit-transition:color 0.1s linear; _padding-top:15px; _height:60px;}
.guide_menu_list li a.guide_menu_item:hover{ text-decoration:none; color:#6bae2a;}
.guide_menu_list li.last{width: 334px;padding-top: 10px;}
.guide_menu_list li.last a.guide_menu_item{ border-left:1px solid #D0D0D0;width: 57px;padding:7px 0 0 20px;cursor:default;}
.guide_menu_list li.last a.guide_menu_item i{cursor:default;}
.guide_menu_item .icon{ float:left;height:46px; width:57px; background:url(../images/sprite.png) no-repeat 0 0; margin-right:10px; cursor:pointer;}
/*.anpai{ background-position: 0 0; width: 57px; height: 44px; } 
.anpai_hover{ background-position: 0 -94px; width: 57px; height: 45px; } 
.liucheng{ background-position: 0 -189px; width: 57px; height: 46px; } 
.liucheng_hover{ background-position: 0 -285px; width: 57px; height: 46px; } 
.news{ background-position: 0 -381px; width: 57px; height: 42px; } 
.news_hover{ background-position: 0 -473px; width: 57px; height: 42px; } 
.xuanjiang{ background-position: 0 -565px; width: 57px; height: 42px; } 
.xuanjiang_hover{ background-position: 0 -657px; width: 57px; height: 42px; }  */

.guide_menu_item .icon_1{ background-position:0 -565px;;}
.guide_menu_item .icon_2{ background-position:0px 0px;}
.guide_menu_item .icon_3{ background-position:0px -189px;}
.guide_menu_item .icon_4{ background-position:0 -381px;}

.guide_menu_item:hover .icon_1{ background-position:0 -657px;}
.guide_menu_item:hover .icon_2{ background-position:0 -96px;}
.guide_menu_item:hover .icon_3{ background-position:0px -285px;}
.guide_menu_item:hover .icon_4{ background-position:0 -381px;}


/*.guide_menu_list li.current .guide_sub_menu,.guide_menu_list li:hover .guide_sub_menu{ display:block; opacity:1; visibility: visible;}*/
.guide_sub_menu{ width:245px;float:right;padding-top:7px;position: relative;/*display:block; position:absolute; left:0px; bottom:76px;  background:rgba(0,0,0,0.65); background:url(../images/bg_black_24.png) repeat 0 0\9; _background:#477022; z-index:1; padding:10px; opacity:0; visibility: hidden; visibility: visible\9; display:none\9; -moz-transition:opacity 0.3s linear; -webkit-transition:opacity 0.3s linear;*/}
.guide_sub_menu_list li{ height:22px; line-height:22px; /*position:relative; */float:none;}
.guide_sub_menu_list li a{ display:block; color:#000; width:180px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; -moz-transition:color 0.15s linear; -webkit-transition:color 0.15s linear;}
.guide_sub_menu_list li a:hover{ color:#339900; text-decoration:none;}
.guide_sub_menu .more{position: absolute;bottom: 4px;right: 0;width:47px;height: 14px;line-height: 14px;background:url("../images/more_bg.jpg") no-repeat;}
.guide_sub_menu .more{cursor: pointer;text-decoration: none;}
/*.guide_sub_menu_list li .time{ color:#939888; position:absolute; right:0px; top:0px;}
*/
.delivery_wrap{}
.delivery_wrap .btn_wrap{ width:980px; margin:45px auto 50px; text-align:center;}
.btn_delivery,.btn_notice{ display:inline-block; height:60px; line-height:60px; width:210px; text-align:center; color:#fff; border-radius:3px; background:#6bae2a; font-size:20px; font-family:'microsoft yahei'; margin:0px auto; -moz-transition:background 0.2s linear; -webkit-transition:background 0.2s linear;}
.btn_notice{ margin-left:10px;}
.btn_delivery:hover,.btn_notice:hover{ background:#4c9227; text-decoration:none;}
.btn_delivery:active,.btn_notice:active{ background:#4c9227; text-decoration:none; position:relative; top:1px; font-size:20px;}

.post_wrap{ width:980px; margin:0px auto; height:92px; margin-bottom:40px;}
.post_area{ width:244px; float:left;}
.post_area .post_item{ display:block; height:86px; width:86px; background:url(../images/icon_post.png) no-repeat 0 0; position: relative; margin-right:15px; float:left; position:relative;}
.post_area .post_item_1{ background-position:0 0;}
.post_area .post_item_2{ background-position:-91px 0;}
.post_area .post_item_3{ background-position:0 -91px;}
.post_area .post_item_4{ background-position:-91px -91px;}

.post_area .post_item:after{ content:""; display:block; height:84px; width:84px; border-radius:84px; position:absolute; left:1px; top:1px;}
.post_area .post_item_1:hover:after{ -moz-animation:a_post_item_1 0.5s ease both; -webkit-animation:a_post_item_1 0.5s ease both;}
.post_area .post_item_2:hover:after{ -moz-animation:a_post_item_2 0.5s ease both; -webkit-animation:a_post_item_2 0.5s ease both;}
.post_area .post_item_3:hover:after{ -moz-animation:a_post_item_3 0.5s ease both; -webkit-animation:a_post_item_3 0.5s ease both;}
.post_area .post_item_4:hover:after{ -moz-animation:a_post_item_4 0.5s ease both; -webkit-animation:a_post_item_4 0.5s ease both;}

@-moz-keyframes a_post_item_1{
	0%{ box-shadow:0px 0px 0px 0px rgba(228,104,77,1);}
	100%{ box-shadow:0px 0px 0px 12px rgba(228,104,77,0);}
}

@-moz-keyframes a_post_item_2{
	0%{ box-shadow:0px 0px 0px 0px rgba(46,166,200,1);}
	100%{ box-shadow:0px 0px 0px 12px rgba(46,166,200,0);}
}

@-moz-keyframes a_post_item_3{
	0%{ box-shadow:0px 0px 0px 0px rgba(34,190,151,1);}
	100%{ box-shadow:0px 0px 0px 12px rgba(34,190,151,0);}
}

@-moz-keyframes a_post_item_4{
	0%{ box-shadow:0px 0px 0px 0px rgba(221,154,24,1);}
	100%{ box-shadow:0px 0px 0px 12px rgba(221,154,24,0);}
}

@-webkit-keyframes a_post_item_1{
	0%{ box-shadow:0px 0px 0px 0px rgba(228,104,77,1);}
	100%{ box-shadow:0px 0px 0px 12px rgba(228,104,77,0);}
}

@-webkit-keyframes a_post_item_2{
	0%{ box-shadow:0px 0px 0px 0px rgba(46,166,200,1);}
	100%{ box-shadow:0px 0px 0px 12px rgba(46,166,200,0);}
}

@-webkit-keyframes a_post_item_3{
	0%{ box-shadow:0px 0px 0px 0px rgba(34,190,151,1);}
	100%{ box-shadow:0px 0px 0px 12px rgba(34,190,151,0);}
}

@-webkit-keyframes a_post_item_4{
	0%{ box-shadow:0px 0px 0px 0px rgba(221,154,24,1);}
	100%{ box-shadow:0px 0px 0px 12px rgba(221,154,24,0);}
}

.post_area .title{ border-bottom:1px solid #d9d9d9; padding-bottom:5px; width:115px; float:left; margin-bottom:12px; font-size:16px; font-family:'microsoft yahei'; font-weight:normal; color:#656565; margin-top:-2px;}
.post_area .post_details{ float:left; width:140px;}
.post_area .post_details .txt{ color:#656565}

.post_list li{ float:left; width:65px;}
.post_list li a{ display:block; margin-bottom:8px; width:100%; color:#000; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.post_list li a:hover{ color:#458423;}